.item {
    justify-content: space-between;
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
}

.button {
    padding: 2px;
    cursor: pointer;
    height: min-content;
}

.icon {
    margin-right: 5px;
}