.form {
    border: 1px solid black;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
}

.input span {
    color: red;
    font-size: 10px;
}

.btn {
    cursor: pointer;
    padding: 2px;
    width: 100px;
}